#catProduct{height:500px}

#catImg{
    margin:0 auto;

    height: 290px !important;
    width: auto !important;
}
#catImgB{margin:0 auto;height:auto;width:auto;max-width:300px}
#navLogo{height:inherit}#recommendationsPrt{height:auto;width:auto;max-height:180px}
#catPText{color:#fff}#adjZIndex{z-index:6}
#masterSliderImageAdjustments{max-width:100%!important;max-height:100%;object-fit:contain}